<section>
    <div class="footer">
        <footer>
            <div class="container">
                <div class="row">
<!--                    <div class="col-sm-6 col-md-3 item">-->
<!--                        <h3>Services</h3>-->
<!--                        <ul>-->
<!--                            <li><a href="#">Item 1</a></li>-->
<!--                            <li><a href="#">Item 2</a></li>-->
<!--                            <li><a href="#">Item 3</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-3 item">-->
<!--                        <h3>About HobbyManager</h3>-->
<!--                        <ul>-->
<!--                            <li><a href="#">The Project</a></li>-->
<!--                            <li><a href="#">Wiki</a></li>-->
<!--                            <li><a href="#">Reminder</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 item text">-->
<!--                        <h3>Python Live Project Overview</h3>-->
<!--                        <p>We're creating software designed to help hobbyists keep track of their collections of items, as well as interact with APIs-->
<!--                            and use DataScraping to get up to date information on things related to those collections and hobbies. This project-->
<!--                            is built using Python, Django, SQLite, and HTML/CSS.</p>-->
<!--                    </div>-->
                    <div class="col item social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-snapchat"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <p class="copyright">HM © 2018</p>
            </div>
        </footer>
    </div>
</section>