{% extends 'CryptoCurrency/crypto_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }} <!-- this only renders the td tags, still need the table tags -->
            </table>
            {{ form.non_field_errors }}
            <button class="primary-bright-button" type="submit"> Save </button>

        </form>
        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'cryptoList' %}'">Back to Collection</button>
    </div>
</section>
{% endblock %}